**/.pio/
**/.DS_Store
arduino_servo_test/
*.mp3
*.wav
*.vscode
*.*#
**/output_files/
fft_test_out.memh
**/.ipynb_checkpoints

toplevel_test_in.memh
# ^ this got too big! untracked. generate it via sim/gen_toplevel_test_in.py